.appointment-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 70px;
  padding-top: 60px;
  font-family: 'Segoe UI', sans-serif;
}

/*==========================
      Title Bar
  ==========================*/
       
.title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}

.title-bar {
  width:100;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-bottom: 2px solid #e0e0e0; /* horizontal border */
  cursor: pointer;
  background: #f8faff;
  transition: background 0.2s ease;
}

.title-bar:hover {
  background: #e0f2f1; /* subtle hover effect */
}

.back-icon {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00796b;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: #004d40;
}

.subtitle {
  color: #666;
  margin-bottom: 15px;
  
}
/*==========================
      Date Selection
  ==========================*/
  
.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.date-container {
  display: flex;
  gap: 12px;
}

.date-box {
  color:black;
  width: 100px;
  height: 80px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  background: #f8faff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.date-box:hover {
  background: #47b2e4;
}

/*======================
    Provider Selection
  ======================*/
.provider-card {
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.06);
}

.provider-option {
  display: flex;
  gap: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.time-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.time-box {
    color:black;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  font-size: 14px;
  cursor: pointer;
}

.confirm-btn {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  background: #b4ddff;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.7;
}
